body {
	margin: 0;
	background-color: #f3f3f3;
	color: #fff;
	font-family: Monospace;
	font-size: 13px;
	/* line-height: 24px; */
	overscroll-behavior: none;
}

a {
	color: #ff0;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

button {
	cursor: pointer;
	text-transform: uppercase;
}

#topbar-outside {
	height: 60px;
}

#topbar {
	height: 40px;
	width: 100%;
	text-align: center;
	line-height: 40px;
	padding: 10px;
	font-size: 20px;
	background-color: #666768;
	position: fixed;
	z-index: 7;
}

#main {
	overflow:scroll;
}

#model-generation-canvas {
    position: relative;
    /* height: calc(100%); */
    margin: 10px;
}

#user-input {
	/* font-size: 20px;
	color: #000000; */
	/* display:flex; */
	position: relative;
	text-align: center;
	width: 100%;
	margin-top: -300px;
	z-index: 999;

}

#model-panel {
	/* font-size: 20px;
	color: #000000; */
	/* display:flex; */
	text-align: center;
	width: 100%;
	color: #343536;
	margin-top: 250px;
	/* border: #343536 1px solid; */

}

#user-input-search {
	outline-style: none ;
    border: 1px solid #ccc; 
    border-radius: 3px;
    padding: 6px;
    width: 80%;
    font-size: 14px;
	font-family: Monospace;
    /* font-family: "Microsoft soft"; */
}

#user-input-btn {
	outline-style: none ;
    border: 1px solid #ccc; 
    border-radius: 3px;
    padding: 6px;
    width: 50px;
    font-size: 14px;
	font-family: Monospace;
    /* font-family: "Microsoft soft"; */
}

#user-input-btn:hover {
	background-color: #66afe9;
	color: white;
}

#user-input-search:focus{
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
}

/* ::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: gainsboro;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb {
	background: black;
	border-radius: 5px;
} */

#main {
	height:100%
}
#model-selection {
	position: absolute;
	width: 50%;
	float:left;
	height: 90%;
	
	/* display: inline-block; */
	/* border: 1px solid #3B6273; */
}

#model-card-container {
	align-items: center;
	/* margin-top: 50px; */
	overflow-y: auto;
	overflow-x:hidden;
	height: calc(92%);
	/* padding: 20px; */
}

#model-selection-title {
	width: 50%;
	box-sizing: border-box;
	/* float:left; */
	/* border: 1px solid #3B6273; */
	text-align: center;
	font-size: 15px;
	font-weight: bolder;
	color: #343536;
	background-color: #ffffff;
	padding: 10px;
	box-shadow: 0 2px 2px rgb(0 0 0 / 10%);
	position: fixed;
	z-index: 5;
	/* padding: 20px; */
}

#model-selection-title-outside {
	height: 40px;
}

#model-generation-title {
	/* width: 50%; */
	/* float:left; */
	/* border: 1px solid #3B6273; */
	text-align: center;
	font-size: 15px;
	font-weight: bolder;
	color: #343536;
	background-color: #ffffff;
	padding: 10px;
	box-shadow: 0 2px 2px rgb(0 0 0 / 10%);
}


#motion-generation {
	margin-left: 50%;
	width:50%;
	/* display: inline-block; */
	/* border: 1px solid #3B6273; */
	align-items: center;	
	background-color: #ffffff;
	/* height: 100%; */

	height: calc(100%);
    position: fixed;
    /* right: 0; */
    z-index: 1;
}

.model-card {
	/* min-width: 180px; */
	height: auto;
	width: 180px;
	display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 10px;
    padding-bottom: 35px;
    background-color: #fff;
    box-shadow: 0 0 0 rgb(0 0 0 / 0%);
    text-align: left;
    cursor: pointer;
}

/* .model-card:hover {
    
    -webkit-box-shadow: 0 0 6px #999;
    box-shadow: 0 0 6px #999;
    -webkit-transition: all .05s ease-out;
    transition: all .05s ease-out;
} */

.model-card-img {
	position: relative;
    z-index: 1;
    width: 100%;
    height: 0;
    padding-bottom: 115%;
    overflow: hidden;
}

.model-card-img-pic {
	width: 100%;
	vertical-align: middle;
	border: 0;
	margin-top: -3%;
}

.model-card-overlay {
	/* box-sizing: border-box; */
	position: absolute;
    top: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
	transition: background-color 0.2s ease-in;
	opacity: 0;
}

/* .model-card-overlay:hover {

	opacity: 1;
} */

.model-card-description {
	position: absolute;
    bottom: 0;
    z-index: 3;
    width: 100%;
	box-sizing: border-box;
    background-color: #fff;
    padding: 10px 8px;
}

.model-card-description-info {
	opacity: 1;
    transition: max-height 0.2s ease-in;
    overflow: hidden;
    max-height: 18px;
}

.model-card-description-info-text {
	margin: 0;
	/* font-size: 1rem; */
	color: #666768;
	text-transform: capitalize;
}

















#info {
	/* position: absolute; */
	top: 0px;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 1; /* TODO Solve this in HTML */
	font-size: 30px;
}

#info-bottom {
	/* position: absolute; */
	bottom: 0px;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 1; /* TODO Solve this in HTML */
}

#myName{
    outline-style: none ;
    border: 1px solid #ccc; 
    border-radius: 3px;
    padding: 6px;
    width: 400px;
    font-size: 14px;
	font-family: Monospace;
    /* font-family: "Microsoft soft"; */
}

#btn {
	outline-style: none ;
    border: 1px solid #ccc; 
    border-radius: 3px;
    padding: 6px;
    width: 50px;
    font-size: 14px;
	font-family: Monospace;
    /* font-family: "Microsoft soft"; */
}

#btn:hover {
	background-color: #66afe9;
	color: white;
}

#myName:focus{
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
}



a, button, input, select {
	pointer-events: auto;
}

.lil-gui {
	z-index: 2 !important; /* TODO Solve this in HTML */
}

@media all and ( max-width: 640px ) {
	.lil-gui.root { 
		right: auto;
		top: auto;
		max-height: 50%;
		max-width: 80%;
		bottom: 0;
		left: 0;
	}
}

#overlay {
	position: absolute;
	font-size: 16px;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* display: flex; */
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: rgba(0,0,0,0.7);
}

#overlay button {
	background: transparent;
	border: 0;
	border: 1px solid rgb(255, 255, 255);
	border-radius: 4px;
	color: #ffffff;
	padding: 12px 18px;
	text-transform: uppercase;
	cursor: pointer;
}

#notSupported {
	width: 50%;
	margin: auto;
	background-color: #f00;
	margin-top: 20px;
	padding: 10px;
}
